<ion-card>
  <ion-card-header>
    <ion-card-subtitle>
      <ion-row class="ion-justify-content-between">
        <ion-col size="11">
          <div>
            Home
          </div>
        </ion-col>
        <ion-col size="1">
          <div>
            <ion-icon color="primary" name="create" style="padding-top: 4px;"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <div class="flex">
      <ion-icon color="primary" name="pin" style="padding-top: 4px;"></ion-icon>
      <ion-label style="max-width: 250px;" class="ion-margin-start">1403, B-R3, Life Republic Marunji, Hinjewadi
      </ion-label>
    </div>
    <!-- <div class="ion-justify-content-end">
      <ion-button>Make Default</ion-button>
    </div> -->
    <ion-row class="ion-justify-content-end">
      <ion-col size="5">
        <div class="ion-text-end">
          <ion-button fill="outline" size="small">Make Default</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>
      <ion-row class="ion-justify-content-between">
        <ion-col size="11">
          <div>
            Home
          </div>
        </ion-col>
        <ion-col size="1">
          <div>
            <ion-icon color="primary" name="create" style="padding-top: 4px;"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <div class="flex">
      <ion-icon color="primary" name="pin" style="padding-top: 4px;"></ion-icon>
      <ion-label style="max-width: 250px;" class="ion-margin-start">1403, B-R3, Life Republic Marunji, Hinjewadi
      </ion-label>
    </div>
    <!-- <div class="ion-justify-content-end">
      <ion-button>Make Default</ion-button>
    </div> -->
    <ion-row class="ion-justify-content-end">
      <ion-col size="5">
        <div class="ion-text-end">
          <ion-label color="success">
            <ion-icon name="checkmark"></ion-icon>
            Default
          </ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>
      <ion-row class="ion-justify-content-between">
        <ion-col size="11">
          <div>
            Home
          </div>
        </ion-col>
        <ion-col size="1">
          <div>
            <ion-icon color="primary" name="create" style="padding-top: 4px;"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <div class="flex">
      <ion-icon color="primary" name="pin" style="padding-top: 4px;"></ion-icon>
      <ion-label style="max-width: 250px;" class="ion-margin-start">1403, B-R3, Life Republic Marunji, Hinjewadi
      </ion-label>
    </div>
    <!-- <div class="ion-justify-content-end">
      <ion-button>Make Default</ion-button>
    </div> -->
    <ion-row class="ion-justify-content-end">
      <ion-col size="5">
        <div class="ion-text-end">
          <ion-button fill="outline" size="small">Make Default</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>
      <ion-row class="ion-justify-content-between">
        <ion-col size="11">
          <div>
            Home
          </div>
        </ion-col>
        <ion-col size="1">
          <div>
            <ion-icon color="primary" name="create" style="padding-top: 4px;"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <div class="flex">
      <ion-icon color="primary" name="pin" style="padding-top: 4px;"></ion-icon>
      <ion-label style="max-width: 250px;" class="ion-margin-start">1403, B-R3, Life Republic Marunji, Hinjewadi
      </ion-label>
    </div>
    <!-- <div class="ion-justify-content-end">
      <ion-button>Make Default</ion-button>
    </div> -->
    <ion-row class="ion-justify-content-end">
      <ion-col size="5">
        <div class="ion-text-end">
          <ion-label color="success">
            <ion-icon name="checkmark"></ion-icon>
            Default
          </ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>

