<ion-list>
  <ion-item lines="full">
    <ion-icon color="primary" name="person"></ion-icon>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label style="font-size: 12px; opacity: 0.5;" class="ion-text-uppercase">Full Name</ion-label>
          <ion-label>Piyush Jain</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item lines="full">
    <ion-icon  color="primary"  name="mail"></ion-icon>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label style="font-size: 12px; opacity: 0.5;" class="ion-text-uppercase">Email Address</ion-label>
          <ion-label>jain.a.piyush@gmail.com</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item lines="full">
    <ion-icon color="primary"  name="call"></ion-icon>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label style="font-size: 12px; opacity: 0.5;" class="ion-text-uppercase">Mobile Number</ion-label>
          <ion-label>+91-9039907701</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item lines="full">
    <ion-icon  color="primary" name="man"></ion-icon>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label style="font-size: 12px; opacity: 0.5;" class="ion-text-uppercase">Gender</ion-label>
          <ion-label>Male</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>

<div class="vertical-height"></div>
<ion-button expand="full" fill="solid">UPDATE</ion-button>