<ion-tabs>

  <ion-tab-bar slot="bottom">
    <!-- <ion-tab-button tab="location-tab">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Location</ion-label>
    </ion-tab-button> -->
    <ion-tab-button tab="menu-tab">
      <ion-icon name="grid"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart-tab">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="profile-tab">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
