<ion-card>
  <div class="ion-padding">

    <ion-item>
      <ion-label position="floating">Enter Mobile Number</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <div class="small-vertical-height"></div>
    <ion-item>
      <ion-label position="floating">Enter Email Id</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <div class="small-vertical-height"></div>
    <ion-item>
      <ion-label position="floating">Enter Date of Birth</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <div class="small-vertical-height"></div>
    <div class="small-vertical-height"></div>
    <ion-item>
      <ion-label position="floating">Enter Password</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <div class="vertical-height"></div>
    <ion-button expand="full" fill="solid" >Signup</ion-button>

  </div>
</ion-card>