<ion-card>
  <ion-card-content>
    <div class="flex-with-space-between">
      <div class="flex">
        <div>
          <img
            src="https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            class="img-circle" />
        </div>
        <div class="flex-column ion-margin-start" style="max-width: 200px;">
          <div>
            <ion-label style="font-weight: 600;">Paneer Tikka with green piece Tikka with green piece</ion-label>
          </div>
          <div class="small-vertical-height"></div>
          <div class="flex-item-center">
            <div class="bold">{{300 | currency:'INR'}}</div>
            <div class="ion-margin-start flex-item-center">
              <ion-icon name="remove-circle-outline" color="primary"></ion-icon> <span
                style="margin: 0px 5px;">10</span>
              <ion-icon name="add-circle-outline" color="primary"></ion-icon>
            </div>
          </div>
        </div>
      </div>
      <div>
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </div>
    </div>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <div class="flex-with-space-between">
      <div class="flex">
        <div>
          <img
            src="https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            class="img-circle" />
        </div>
        <div class="flex-column ion-margin-start" style="max-width: 200px;">
          <div>
            <ion-label style="font-weight: 600;">Paneer Tikka with green piece Tikka with green piece</ion-label>
          </div>
          <div class="small-vertical-height"></div>
          <div class="flex-item-center">
            <div class="bold">{{300 | currency:'INR'}}</div>
            <div class="ion-margin-start flex-item-center">
              <ion-icon name="remove-circle-outline" color="primary"></ion-icon> <span
                style="margin: 0px 5px;">10</span>
              <ion-icon name="add-circle-outline" color="primary"></ion-icon>
            </div>
          </div>
        </div>
      </div>
      <div>
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </div>
    </div>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <div class="flex-with-space-between">
      <div class="flex">
        <div>
          <img
            src="https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            class="img-circle" />
        </div>
        <div class="flex-column ion-margin-start" style="max-width: 200px;">
          <div>
            <ion-label style="font-weight: 600;">Paneer Tikka with green piece Tikka with green piece</ion-label>
          </div>
          <div class="small-vertical-height"></div>
          <div class="flex-item-center">
            <div class="bold">{{300 | currency:'INR'}}</div>
            <div class="ion-margin-start flex-item-center">
              <ion-icon name="remove-circle-outline" color="primary"></ion-icon> <span
                style="margin: 0px 5px;">10</span>
              <ion-icon name="add-circle-outline" color="primary"></ion-icon>
            </div>
          </div>
        </div>
      </div>
      <div>
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </div>
    </div>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <div class="flex-with-space-between">
      <div class="flex">
        <div>
          <img
            src="https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            class="img-circle" />
        </div>
        <div class="flex-column ion-margin-start" style="max-width: 200px;">
          <div>
            <ion-label style="font-weight: 600;">Paneer Tikka with green piece Tikka with green piece</ion-label>
          </div>
          <div class="small-vertical-height"></div>
          <div class="flex-item-center">
            <div class="bold">{{300 | currency:'INR'}}</div>
            <div class="ion-margin-start flex-item-center">
              <ion-icon name="remove-circle-outline" color="primary"></ion-icon> <span
                style="margin: 0px 5px;">10</span>
              <ion-icon name="add-circle-outline" color="primary"></ion-icon>
            </div>
          </div>
        </div>
      </div>
      <div>
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </div>
    </div>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <div class="flex-with-space-between">
      <div class="flex">
        <div>
          <img
            src="https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            class="img-circle" />
        </div>
        <div class="flex-column ion-margin-start" style="max-width: 200px;">
          <div>
            <ion-label style="font-weight: 600;">Paneer Tikka with green piece Tikka with green piece</ion-label>
          </div>
          <div class="small-vertical-height"></div>
          <div class="flex-item-center">
            <div class="bold">{{300 | currency:'INR'}}</div>
            <div class="ion-margin-start flex-item-center">
              <ion-icon name="remove-circle-outline" color="primary"></ion-icon> <span
                style="margin: 0px 5px;">10</span>
              <ion-icon name="add-circle-outline" color="primary"></ion-icon>
            </div>
          </div>
        </div>
      </div>
      <div>
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </div>
    </div>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <div class="flex-with-space-between">
      <div class="flex">
        <div>
          <img
            src="https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            class="img-circle" />
        </div>
        <div class="flex-column ion-margin-start" style="max-width: 200px;">
          <div>
            <ion-label style="font-weight: 600;">Paneer Tikka with green piece Tikka with green piece</ion-label>
          </div>
          <div class="small-vertical-height"></div>
          <div class="flex-item-center">
            <div class="bold">{{300 | currency:'INR'}}</div>
            <div class="ion-margin-start flex-item-center">
              <ion-icon name="remove-circle-outline" color="primary"></ion-icon> <span
                style="margin: 0px 5px;">10</span>
              <ion-icon name="add-circle-outline" color="primary"></ion-icon>
            </div>
          </div>
        </div>
      </div>
      <div>
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </div>
    </div>
  </ion-card-content>
</ion-card>