.price{
    color: white;
    position: absolute;
    font-weight: 600;
    top: 40px;
    padding: 10px;
    background: darkgoldenrod;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-left: 20px;
    padding-right: 15px;
    opacity: 0.85;
}
.product-name{
    position: absolute;
    bottom: 5px;
    font-weight: 600;
    font-size: 20px;
    color: white;
    padding-left: 20px;
    box-shadow: inset 0 0px 50px 0px #2e2e2e;
    width: 100%;
    min-height: 30px;
} 

.single-product-container{
    min-height: 100vh;
}