<ion-card>
  <ion-card-header>
    <ion-card-subtitle>
      <ion-label>
        26 Jan, 2019 8:00PM
      </ion-label>
    </ion-card-subtitle>
    <ion-card-title>
      <ion-row class="ion-justify-content-between">
        <ion-col size="6">
          <div class="flex-item-center">
            <ion-icon name="checkmark" color="primary"></ion-icon>
            <span class="small-gap"></span>
            <ion-label color="primary">Pedning</ion-label>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="ion-text-end">
            <span style="opacity: 0.8;">{{350 | currency: 'INR'}}</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div class="flex-item-center">
      <div>[1]</div>
      <span class="small-gap"></span>
      <div>Veg Schezwan Fried Rice</div>
    </div>
    <div class="small-vertical-height"></div>
    <div class="flex-item-center">
      <div>[4]</div>
      <span class="small-gap"></span>
      <div>Veg Schezwan Fried Rice</div>
    </div>
    <div class="small-vertical-height"></div>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6">
        <div>
          <ion-button expand="block" fill="outline" color="primary">View Receipt</ion-button>
        </div>
      </ion-col>
      <ion-col size="6">
        <div>
          <ion-button expand="full" fill="solid" color="primary">Reorder</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>
      <ion-label>
        26 Jan, 2019 8:00PM
      </ion-label>
    </ion-card-subtitle>
    <ion-card-title>
      <ion-row class="ion-justify-content-between">
        <ion-col size="6">
          <div class="flex-item-center">
            <ion-icon name="checkmark" color="success"></ion-icon>
            <span class="small-gap"></span>
            <ion-label color="success">Delivered</ion-label>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="ion-text-end">
            <span style="opacity: 0.8;">{{350 | currency: 'INR'}}</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div class="flex-item-center">
      <div>[1]</div>
      <span class="small-gap"></span>
      <div>Veg Schezwan Fried Rice</div>
    </div>
    <div class="small-vertical-height"></div>
    <div class="flex-item-center">
      <div>[4]</div>
      <span class="small-gap"></span>
      <div>Veg Schezwan Fried Rice</div>
    </div>
    <div class="small-vertical-height"></div>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6">
        <div>
          <ion-button expand="block" fill="outline" color="primary">View Receipt</ion-button>
        </div>
      </ion-col>
      <ion-col size="6">
        <div>
          <ion-button expand="full" fill="solid" color="primary">Reorder</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>